@charset "utf-8";
@media (max-width: 1440px) {
.container1{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
}



@media (max-width: 1240px) {
   .container{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  .header_nav ul li {
    margin-right: 20px;
  }

  .header_nav ul li a {
    font-size: 1rem;
  }
  .footer_inner .footer_menu ul li a {
    font-size: 0.9rem;
  }

  .footer_inner .footer_address {

    font-size: 0.8rem;
  }

  .footer_inner .footer_copy {
    font-size: 0.8rem;
  }

  .footer_logo {
    width: 17vw;
  }
}



@media(max-width:1080px) {
  .header_nav ul li a {
    font-size: 0.9rem;
    padding: 13px 5px;
  }

  .header_nav ul li {
    width: 130px;
  }

}



@media(max-width:800px) {
  /* 헤더 */
  .header {
    height: 100px;
  }

  .header_logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* 가운데 정렬 */
    /* transform: none; */
  }

  .header_mbnav {
    display: block;
    cursor: pointer;
  }

  .header_nav {
    position: relative;
  }

  .header_nav ul {
    position: absolute;
    top: 0px;
    right: -300px;
    width: 200px;
    display: none;
    flex-direction: column;
    z-index: 999;
  }

  .header_nav ul.show {
    display: block;
    right: -100px;
  }

  .header_nav ul li {
    border-radius: 0 0 0 0;
    margin: -2px 0;
  }

  /* 사각hover */
  .header_nav ul li::before {
    display: none;
  }

  .header_nav ul li::after {
    display: none;
  }

  .header_nav ul li a {
    font-size: 0.7rem;
    padding: 10px 5px;
  }
  .footer{
    height: 150px;}
  .footer_inner .footer_menu ul li {
    margin-right: 10px;
  }

  .footer_inner .footer_menu ul li a {
    font-size: 0.8rem;
  }

  .footer_inner .footer_address {
    font-size: 0.7rem;
  }

  .footer_inner .footer_copy {
    font-size: 0.7rem;
  }

}

@media (max-width: 700px) {
  .footer_logo {
    width: 18vw;
  }
}




@media (max-width: 640px) {
  .header_mbnav {
    width: 35px;
    right: 40px;
  }

  .header_mbnav::before,
  .header_mbnav::after {
    width: 35px;
    right: 0px;
  }

}




@media (max-width: 600px) {
  .footer_logo {
    width: 19vw;
  }

  .footer_inner .footer_address {
    margin-top: 10px;
  }
}



@media (max-width: 490px) {
   .footer_logo {
    width: 22vw;
  }

  .footer_inner .footer_menu ul li {
    margin-right: 8px;
  }
  .footer_inner .footer_menu ul li a {
        font-size: 0.7rem;
    }
}



@media (max-width: 440px) {
   .footer_inner .footer_menu ul li a {
    font-size: 0.7rem;
  }

  .footer_inner .footer_address {
    font-size: 0.65rem;
  }

  .footer_inner .footer_copy {
    margin-top: 5px;
    font-size: 0.6rem;
  }

  #footer {
    width: 100%;
    min-height: 145px;
  }

  #footer::before {
    height: 85px;
    top: -74px;
  }

  .footer_inner .footer_menu ul li {
    margin-right: 4px;
  }
}




@media (max-width: 410px) {
   .footer_inner .footer_menu ul li a {
    font-size: 0.62rem;
  }
}




@media (max-width: 410px) {
.footer_inner .footer_menu ul li a {
    font-size: 0.62rem;
  }
      .footer_logo {
        width: 18vw;
    }

}


@media (max-width: 360px) {
  .footer_inner {
    width: 76vw;
  }

  .footer_inner .footer_menu ul li a {
    font-size: 0.6rem;
  }

  .footer_inner .footer_address {
    margin-top: 5px;
  }

}