@charset "utf-8";





@media (max-width: 1240px) {
  .container1{
    width: 100%;
  }
 .more_btn::before {
    width: 180px !important;
  height: 50px !important;
}
}

@media (max-width: 1045px) {
  .content1 h2 {
font-size: 25px;
  }
  .content1 h2::before {
width: 40px;
    height: 40px;
  }
.lose {
  width: 900px;

}


.lose_box .box {
  width: 27vw;
  height: auto;
  padding: 15px;
}
.lose_box .box .image {
  margin-bottom: 15px;
}
.adoption_info {
  font-size: 15px;
}

}
@media (max-width: 860px) {
  .adoption_info {
  font-size: 14px;
}
}


@media (max-width: 800px) {
  .content1 {
    margin-top: 140px;}
    .content1 h2 {
font-size: 23px;
  }
  .content1 h2::before {
width: 35px;
    height: 35px;
  }
  .lose_box .box {
    padding: 10px;
  }
  .lose_box .box .notice {
    padding: 5px;
}
.lose_box .box .notice strong {
    font-size: 14px;
    margin-bottom: 0;
}
.content2 {
    margin-top: 100px;
}
.scroll_indicator {
    height: 75px;
}
    .content2 h2 {
font-size: 23px;
  }
  .content2 h2::before {
width: 35px;
    height: 35px;
  }
  .tab ul li {
    width: 40px;
    height: 40px;
  }
.adoption_grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.adoption_info {
  height: 55%;
  font-size: 13px;
}

}


@media (max-width: 680px) {
  .adoption_info {
  height: 60%;
  padding: 5px 0;

}
}



@media (max-width: 630px) {
.lose_box .box {
        width: 36vw;
      }

}

@media (max-width: 604px) {
  .adoption_info {
  height: 35%;
  padding: 5px 0;

}
}



@media (max-width: 540px) {
    .lose_box .box {
        width: 47vw;
    }
}



@media (max-width: 500px) {
  .adoption_info {
  height: 40%;
}
}


@media (max-width: 440px) {
    .content1 h2 {
font-size: 20px;
  }
  .content1 h2::before {
width: 30px;
    height: 30px;
  }

    .lose_box .box {
        width: 65vw;
    }
        .scroll_indicator {
        height: 66px;
    }
        .content2 h2 {
font-size: 20px;
  }
  .content2 h2::before {
width: 30px;
    height: 30px;
  }
    .adoption_info {
  height: 50%;
}
}

@media (max-width: 390px) {
  .content1 h2 {
font-size: 18px;
letter-spacing: -1px;
  }
    .content2 h2 {
font-size: 18px;
  }
    .adoption_info {
  height: 60%;
}
}

@media (max-width: 350px) {
  .content1 h2 {
font-size: 17px;
  }
  .content2 h2 {
font-size: 17px;
  }
}