@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: var(--black200);
  text-decoration: none;
}

img {
}
body,
html {
  overflow-x: hidden;
}

.container {
  width: 1240px;
  margin: 0 auto;

}
.container1 {
  width: 1440px;
  margin: 0 auto;

}

.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}
img {
  width: 100%;
  display: block;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
button {
  border: none;
  background: transparent;
}



/* header */
#header {
    width: 100%;
    background-color: var(--sub2_color);
    border-bottom: 5px solid var(--main_color);
    position: fixed;
    z-index: 10;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

}

.header_logo a {}

.header_logo img {
    width: 100%;
}

.header_nav {
    margin-top: 110px;
    /* background-color: rebeccapurple; */

}

.header_nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_nav ul li {
    width: 150px;
    height: 40px;
    background-color: var(--main_color);
    margin-right: 30px;
    border: 2px solid var(--black);
    border-radius: 20px 0 0 0;
    position: relative;
    z-index: 5;
    transition: all 0.5s;
}

.header_nav ul li:last-child {
    margin-right: 0;
}

.header_nav ul li:hover {
    background-color: var(--sub1_color);
    box-shadow: 2px 0px 5px var(--black200);

}

.header_nav ul li::before {
    content: "";
    border: 2px solid var(--black);
    width: 70px;
    height: 15px;
    background-color: var(--main_color);
    position: absolute;
    top: -20px;
    right: -2px;
    opacity: 0;
    z-index: -111111;
    transition: all 0.5s;

}

.header_nav ul li:hover::before {
    top: -19px;
    opacity: 1;
    box-shadow: 2px 0px 5px var(--black200);
}

.header_nav ul li::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--main_color);
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 5;

}

.header_nav ul li a {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    font-family: var(--main_font);
    padding: 5px 10px;
}

/* header_mbnav */
.header_mbnav {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 40px;
    height: 3px;
    background-color: var(--black);
    display: none;
}

.header_mbnav::before,
.header_mbnav::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--black);
    transition: all 0.3s;
}

.header_mbnav::before {
    position: absolute;
    top: 5px;
    right: 0;
}
.header_mbnav:hover::before {
    width: 20px;
}


.header_mbnav::after {
    position: absolute;
    top: -5px;
    left: 0;
}
.header_mbnav:hover::after {
    width: 20px;
}







#banner {
  margin-top: 300px;
    width: 100%;
    height: 300px;
    position: relative;
    /* background-color: rebeccapurple; */

}

#dog_lottie {
margin-top: 160px !important;
/* background-color: red; */
    z-index: 3;
}
#banner::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  bottom: 20px;
  left: 0;
  background-color: black;
  z-index: 1;
}

.line {
    width: 100%;
    height: 7px;
    background-color: black;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 0;
}

/* 프로필 */
#profile_player{
  width: 100%;
  height: 800px;
  margin: 0 auto;
  /* background-color: rgb(214, 173, 173); */
}

.player .title{
  font-family: var(--main_font);
  font-size: 40px;
  margin: 50px 0 100px 0;
}
/* 버튼 */
#profile_player .viewport .nav{
  /* background-color: rebeccapurple; */
  position:absolute;
  top:40%;
  width:90px;
  height:50px;
  cursor:pointer;
  z-index:5;
  font-weight:700;
  background-image: url(../../image/sub1/button1.png);
  background-size: cover;
  background-position: center;
  transform: scale(0.8);
}
#profile_player .viewport .nav.prev{ left:345px; }
#profile_player .viewport .nav.next{ right:340px; }
#profile_player .viewport .nav:hover{
    background-image: url(../../image/sub1/button2.png);
    transform: scale(0.9);
}
#profile_player .viewport .nav:active {
    transform: scale(0.9);
}



/* 프로필 카드 */
#profile_player .viewport{
  position:relative;
  height:550px;
  overflow:hidden;
  margin: 0 auto;
  /* background-color: firebrick; */
}

#profile_player .post{
  /* background-color: rebeccapurple; */
  position:absolute;
  top:10px;
  left:0;
  width: 300px;
  height:500px;
  transform-origin: 100% 100%;
  will-change: transform;
  /* transition: transform 1s cubic-bezier(0.2, 0.8, 0.4, 1),
                filter 1s ease,
                opacity 1s ease; */
  transform-origin: bottom center;
  /* padding-bottom: 100px; */
  cursor: pointer;
}
#profile_player .post.center {
  filter: brightness(10) contrast(1.05);
  z-index: 5;
  transform: scale(1.03);
}

#profile_player .post.side {
  filter: brightness(0.6) contrast(0.9);
  z-index: 1;
}

#profile_player .post.hidden {
  opacity: 0;
  pointer-events: none;
}



#profile_player .frame{
  height: 500px;
  border:2px solid var(--black);
  border-radius:22px;
  overflow:hidden;
  background:#fff;
  box-shadow:6px 6px 0 var(--black);
  transition: all 0.3s ease;

  position: relative; overflow: hidden;

}

#profile_player .frame:hover img{
  transform: scale(1.03);
}

#profile_player .post img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: center;
  display:block;
  transition: all 0.3s ease;

}
#profile_player .post{ will-change: transform, filter; backface-visibility:hidden; }



#profile_player .post.hidden{
  opacity:0; pointer-events:none; transition:none !important;
}


#profile_player .overlay{
  position:absolute;
  top:10px;
  right:10px;
  display:block;
  z-index: 20;
  pointer-events: none;
}

#profile_player .icon{
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom:43px;
  background: transparent;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
#profile_player .icon:hover{
  transform: scale(1.07);
}
#profile_player .icon p{
  color: white;
  display: inline-block;
  white-space: nowrap;
}


#profile_player .caption{
  position:absolute;
  left:0;
  right:0;
  top:0;
  padding:15px;
  text-align:left;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}

#profile_player .caption h3{
  font-size:23px;
  font-weight:800;

}
#profile_player .caption .meta{
  font-size:18px;

}


#profile_player .caption .desc{
  font-size:18px;
}

.icon.like .count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 17px;
  z-index: 20;
}







/* profile */
#profile_box{
  margin-top: 100px;
}
.profile_box{
  width: 100%;
  margin: 0 auto;
}
.profile_box .title{
  width: 100%;
  height: auto;
  text-align: center;
margin-left: 50%;
transform: translateX(-50%);
  position: relative;
 font-family: var(--main_font);
  font-size: 40px;
  margin-bottom: 150px;
  position: relative;
}


.profile_box .title::before{
 content:"";
  position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -50%);
  width: clamp(200px, 34vw, 430px);
  aspect-ratio: 2 / 1;
  background: url(../../image/sub1/sub1_title.png) no-repeat center / contain;
  z-index:-1;
  pointer-events:none;
}






/* 박스 */
.profile_box > article {
  display:flex ;
  flex-wrap:wrap ;
  gap:1vw;
  justify-content:center;
}


.profile_box .box{
  flex:0 0 23% ;
  background-color: var(--main_color);
  border: 3px solid var(--black);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 3px 4px 1px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile_box .box:hover {
  transform: translateY(5px);
  box-shadow: 5px 6px 3px rgba(0,0,0,0.3);
}
.profile_box .box .profile .image{
   width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 3px solid var(--black);
  border-radius: 15px;
  z-index: 1;
}

.profile_box .box .profile .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.profile_box .profile .text{
  text-align: left;
  font-family: var(--sub_font);
  background-color: var(--white);
  border-radius: 20px;
  z-index: 1;
  border: 3px solid var(--black);
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 140px;
  font-size: 16px;

}




.profile_box .box .profile .text strong{display: block;}
.profile_box .box .profile .text strong:last-of-type{display: inline-block;}

.profile_box .box .profile .text strong span{
  display: inline;
  font-weight: 400;
  font-size: 15px;
}

.profile em.buttun{
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: var(--sub1_color);
  border: 3px solid var(--black);
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  line-height: 30px;
  font-family: var(--sub_font);
  font-weight: 15px;
}
.profile em.buttun:hover{
  background-color: rgb(86, 154, 63);
}

.card .box .profile .buttun strong{
  width: 100px;
}







.more_wrap {
  text-align: center;
  margin: 60px 0 120px;
}
#moreBtn {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 10px;
  background: var(--sub1_color);
  font-family: var(--main_font);
  cursor: pointer;
  transition: 0.6s;
}
#moreBtn:hover {
  background: var(--main_color);
}








/* footer */
/* #footer{
    width: 100%;
    min-height: 170px;
    background-color: var(--sub2_color);
    position: relative;

}
.footer{
    flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#footer::before{
    background-image: url(/image/foot_line.png);
    display: block;
    width: 100%;
    height: 100px;
    content: "";
    top: -100px;
    left: 0;
    position: absolute;
}

.footer_logo{
    width: 20vw;
}
.footer_logo a{}
.footer_logo img {
  width: 100%;
  margin-top: 3.61vh;
}
.footer_inner{
    width: 70vw;
    height: 100%;
    z-index: 5;

}

.footer_inner .footer_menu{
    width: 100%;
    position: relative;
}
.footer_cloud{
    width: 30vw;
    position: absolute;
    top: -2vw;
    right: -2.5vw;
    z-index: -1;
}
.footer_inner .footer_menu ul{
    display: flex;
    justify-content: right;
}
.footer_inner .footer_menu ul li{
    margin-right: 20px;
    margin-top: 0px;



}
.footer_inner .footer_menu ul li:last-child{
    margin-right: 0;
}

.footer_inner .footer_menu ul li a{
    font-size: 1rem;
    font-family: var(--sub_font);
}

.footer_inner .footer_address{
    font-size: 0.9rem;
    font-family: var(--sub_font);
    font-weight: 200;
    font-style: normal;
    text-align: right;
    margin-top: 20px;
    z-index: 10;
    display: block;

}
.footer_address span{}


.footer_inner .footer_copy{
    margin-top: 10px;
    font-family: var(--sub_font);
     font-size: 1rem;
    text-align: right;
    z-index: 10;
} */
