@charset "utf8";

@import url(../vars.css);
@import url(../font.css);
@import url(../reset.css);
@import url(./sub_content1.css);
@import url(./sub_content2.css);
@import url(./sub_content3.css);




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: var(--black200);
  text-decoration: none;
}

img {
}
body,
html {
  overflow-x: hidden;
}

.container1 {
  width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;

}

  .container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
  }

.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}
img {
  width: 100%;
  display: block;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* header */
#header {
    width: 100%;
    background-color: var(--sub2_color);
    border-bottom: 5px solid var(--main_color);
    position: fixed;
    z-index: 10;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

}

.header_logo a {}

.header_logo img {
    width: 100%;
}

.header_nav {
    margin-top: 110px;
    /* background-color: rebeccapurple; */

}

.header_nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_nav ul li {
    width: 150px;
    height: 40px;
    background-color: var(--main_color);
    margin-right: 30px;
    border: 2px solid var(--black);
    border-radius: 20px 0 0 0;
    position: relative;
    z-index: 5;
    transition: all 0.5s;
}

.header_nav ul li:last-child {
    margin-right: 0;
}

.header_nav ul li:hover {
    background-color: var(--sub1_color);
    box-shadow: 2px 0px 5px var(--black200);

}

.header_nav ul li::before {
    content: "";
    border: 2px solid var(--black);
    width: 70px;
    height: 15px;
    background-color: var(--main_color);
    position: absolute;
    top: -20px;
    right: -2px;
    opacity: 0;
    z-index: -111111;
    transition: all 0.5s;

}

.header_nav ul li:hover::before {
    top: -19px;
    opacity: 1;
    box-shadow: 2px 0px 5px var(--black200);
}

.header_nav ul li::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--main_color);
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 5;

}

.header_nav ul li a {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    font-family: var(--main_font);
    padding: 5px 10px;
}

/* header_mbnav */
.header_mbnav {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 40px;
    height: 3px;
    background-color: var(--black);
    display: none;
}

.header_mbnav::before,
.header_mbnav::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--black);
    transition: all 0.3s;
}

.header_mbnav::before {
    position: absolute;
    top: 5px;
    right: 0;
}
.header_mbnav:hover::before {
    width: 20px;
}


.header_mbnav::after {
    position: absolute;
    top: -5px;
    left: 0;
}
.header_mbnav:hover::after {
    width: 20px;
}



  /* footer */
#footer{
    width: 100%;
    background-color: var(--sub2_color);
    position: relative;
    z-index: 1;

}
#footer::before{
    background-image: url(../../image/foot_line.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100px;
    content: "";
    top: -100px;
    left: 0;
    position: absolute;
    z-index: 2;
}
.footer{
    height: 200px;
    flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer_logo{
    width: 12vw;
}
.footer_logo a{}
.footer_logo img {
  width: 100%;
  /* margin-top: 3.61vh; */
}
.footer_inner{
    width: 70vw;
    height: 100%;
    z-index: 5;
    /* background-color: rebeccapurple; */

}

.footer_inner .footer_menu{
    width: 100%;
    position: relative;
}

.footer_inner .footer_menu ul{
    display: flex;
    justify-content: right;
}
.footer_inner .footer_menu ul li{
    margin-right: 20px;
    margin-top: 0px;



}
.footer_inner .footer_menu ul li:last-child{
    margin-right: 0;
}

.footer_inner .footer_menu ul li a{
    font-size: 1rem;
    font-family: var(--sub_font);
}

.footer_inner .footer_address{
    font-size: 0.9rem;
    font-family: var(--sub_font);
    font-weight: 200;
    font-style: normal;
    text-align: right;
    margin-top: 20px;
    z-index: 10;
    display: block;

}
.footer_address span{}


.footer_inner .footer_copy{
    margin-top: 10px;
    font-family: var(--sub_font);
     font-size: 1rem;
    text-align: right;
    z-index: 10;
}
